<nav class="menu">
    <LinkTo @route="index" class="menu-index">
        <h1>Ember CRUD</h1>
    </LinkTo>
    <div class="links">
        <LinkTo @route="user" class="menu-about">
            User
        </LinkTo>
        <LinkTo @route="about" class="menu-about">
            About
        </LinkTo>
        <a href="https://ember-learn.github.io/ember-octane-vs-classic-cheat-sheet/" class="menu-help">
            Ember Help
        </a>
    </div>
</nav>